/* CSS Code, der für alle Web Pages gleich ist */
@import "colors.scss";


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


h1 {
  font-family: 'Anton', sans-serif;
  font-size: 1.625em;
  line-height: 1.53em;
  letter-spacing: 0.1em;
  color: white;
  margin-top: 0;
}

h4 {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 1.25em;
}

p, a, label, input, div {
  font-family: 'Montserrat', sans-serif;
  color: lightgrey;
  font-size: 1em;
  line-height: 1.5em;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  scroll-behavior: smooth;

  #topnav {
    position: fixed;
    width: 100vw;
    background-color: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 30px;

    header {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 65%;

        img {
          height: 100%;
        }
      }

      #hamburger {
        margin: 10px;
        cursor: pointer;
      }
    }

    nav {
      display: none;

      ul {
        list-style: none;

        li {
          width: 100vw;
          height: 40px;
          display: flex;
          align-items: center;
    
          a {
            color: $font;
            padding: 14px 16px;
            text-decoration: none;

            &.active {
              text-decoration: underline;
            }
          }
        }
      }

      &.nav-visible {
        display: block;
      }
    }
  }
  

  main {
    margin-top: 100px;
    height: calc(100vh - 170px); /* mandatory for snap to scroll */
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    // flex-grow: 1;
    background-color: $background;
  

    section {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      scroll-snap-align: start;
      padding: 50px 30px;
    }
  }


  footer {
    background-color: $shadow;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      text-align: center;
      font-size: 0.8em;

      * {
        margin: 0;
      }
    }
  }
}



@media screen and (min-width: 900px) {

  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }
  body {
    #topnav {
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box; 
      padding: 0 50px;
  
      #hamburger {
        display: none;
      }
  
      nav {
        display: flex;
        align-items: center;
  
        ul li {
          display: inline;
          float: inline-end;
        }
      }
    
    }
  
    section {
      padding: 70px;
    }
  } 
}


@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  body {
    #topnav {
      padding: 0 calc((100vw - 1200px)/2);
      box-sizing: content-box;
    }
  
    main section {
      padding: 50px calc((100vw - 1200px)/2);
    }
  }
}