@charset "UTF-8";
/* CSS Code, der für alle Web Pages gleich ist */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 1.625em;
  line-height: 1.53em;
  letter-spacing: 0.1em;
  color: white;
  margin-top: 0;
}

h4 {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 1.25em;
}

p, a, label, input, div {
  font-family: "Montserrat", sans-serif;
  color: lightgrey;
  font-size: 1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  scroll-behavior: smooth;
}
body #topnav {
  position: fixed;
  width: 100vw;
  background-color: #3D3E40;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 30px;
}
body #topnav header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #topnav header .logo {
  height: 65%;
  border: none;
}
body #topnav header .logo img {
  height: 100%;
}
body #topnav header #hamburger {
  margin: 10px;
  cursor: pointer;
}
body #topnav nav {
  display: none;
}
body #topnav nav ul {
  list-style: none;
}
body #topnav nav ul li {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
}
body #topnav nav ul li a {
  color: white;
  margin: 14px 16px;
  padding-bottom: 3px;
  text-decoration: none;
  border: none;
}
body #topnav nav ul li a.active {
  border-bottom: 1px solid white;
}
body #topnav nav.nav-visible {
  display: block;
}
body main {
  margin-top: 100px;
  height: calc(100vh - 170px); /* mandatory for snap to scroll */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  background-color: #121212;
}
body main section {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  padding: 50px 30px;
}
body footer {
  background-color: #3D3E40;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer div {
  text-align: center;
  font-size: 0.8em;
}
body footer div * {
  margin: 0;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }
  body #topnav {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 50px;
  }
  body #topnav #hamburger {
    display: none;
  }
  body #topnav nav {
    display: flex;
    align-items: center;
  }
  body #topnav nav ul li {
    display: inline;
    float: inline-end;
  }
  body section {
    padding: 70px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  body #topnav {
    padding: 0 calc((100vw - 1200px) / 2);
    box-sizing: content-box;
  }
  body main section {
    padding: 50px calc((100vw - 1200px) / 2);
  }
}/*# sourceMappingURL=common.css.map */