/* CSS Code, den es für die Start Page braucht */

/*
TO-DO:
- section 3 padding
*/

#start {
    background-image: url(../images/Bild_Doku.jpg);
    background-size: cover;
}

// section:not(#vorschau) {
//     display: none;
// }


.game {
    width: 360px;
}

#slider-grid-container {
    display: grid;
    grid-template-areas: "left-arrow current-card right-arrow";
    grid-template-columns: 1fr 55vw 1fr;
    align-items: center;
    justify-content: center;

    .card {
        display: none;
        &.current {
            display: block;
            grid-area: current-card;
        }

        h4, a {
            display: block;
            text-align: center;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .arrow-btn {
        justify-self: center;
        // font-size: 1em;

        &:hover {
            cursor: pointer;
        }

        &#prev {
            grid-area: left-arrow;
        }

        &#next {
            grid-area: right-arrow;
        }
    }
}

#card-position-range {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    div {
        width: 10px;
        height: 10px;
        margin: 5px;
        border: 1px solid white;
        border-radius: 50%;

        &.filled {
            background-color: white;
        }
    }


}

div#promotion {
    display: flex;
    flex-direction: column;

    div#promotion-text {
        margin-right: 20px;
    }

    img {
        width: 100%;
    }
}



@media screen and (min-width: 900px) {
    div#promotion {
        flex-direction: row;

        img {
            width: calc(50vw - 10px);
            margin-left: calc((100vw - 1200px)/-2);
        }
    }

    div#start > #start-text {
        padding-right: 50px;
        margin-left: 50vw;
        width: 45vw;
    }

    #slider-grid-container {
        grid-template-areas: "prev-picture left-arrow current-card right-arrow next-picture";
        grid-template-rows: 100%;
        grid-template-columns: 25% 1fr 35% 1fr 25%;

    
        .card {
            // max-height: fit-content;
            max-width: 100%;
            overflow: hidden;

            img {
                max-height: 50vh;
                max-width: 100%;
                width: auto;

            }

            &.prev-picture, &.next-picture {
                display: block;

                img {
                    max-height: 40vh;
                }
    
                h4, a {
                    display: none;
                }
            }
    
            &.prev-picture {
                grid-area: prev-picture;  
                justify-self: right;
            }
    
            &.next-picture {
                grid-area: next-picture;
                justify-self: left;
            }
    
            &.current {
                justify-self: center;
            }
        }

        .arrow-btn {
            font-size: 3em;
            margin: 10px;
  
            &#prev {
                justify-self: right;
            }
    
            &#next {
                justify-self: left;            
            }
        }
    }

    #card-position-range div{
        width: 1vw;
        height: 1vw;
    }   
}

@media screen and (min-width: 1200px) {
    #slider-grid-container {
        .arrow-btn {
            font-size: 2em;
        }
    }

    #card-position-range div{
        width: 1em;
        height: 1em;
    }    
}