@charset "UTF-8";
/* CSS Code, den es für die Start Page braucht */
/*
TO-DO:
- section 3 padding
*/
#start {
  background-image: url(../images/Bild_Doku.jpg);
  background-size: cover;
}

.game {
  width: 360px;
}

#slider-grid-container {
  display: grid;
  grid-template-areas: "left-arrow current-card right-arrow";
  grid-template-columns: 1fr 55vw 1fr;
  align-items: center;
  justify-content: center;
}
#slider-grid-container .card {
  display: none;
}
#slider-grid-container .card.current {
  display: block;
  grid-area: current-card;
}
#slider-grid-container .card h4, #slider-grid-container .card a {
  display: block;
  text-align: center;
}
#slider-grid-container img {
  width: 100%;
  height: auto;
}
#slider-grid-container .arrow-btn {
  justify-self: center;
}
#slider-grid-container .arrow-btn:hover {
  cursor: pointer;
}
#slider-grid-container .arrow-btn#prev {
  grid-area: left-arrow;
}
#slider-grid-container .arrow-btn#next {
  grid-area: right-arrow;
}

#card-position-range {
  margin-top: 5vw;
  display: flex;
  justify-content: center;
}
#card-position-range div {
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 50%;
}
#card-position-range div.filled {
  background-color: white;
}

div#promotion {
  display: flex;
  flex-direction: column;
}
div#promotion div#promotion-text {
  margin-right: 20px;
}
div#promotion img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  div#promotion {
    flex-direction: row;
  }
  div#promotion img {
    width: calc(50vw - 10px);
    margin-left: calc((100vw - 1200px) / -2);
  }
  div#start > #start-text {
    padding-right: 50px;
    margin-left: 50vw;
    width: 45vw;
  }
  #slider-grid-container {
    grid-template-areas: "prev-picture left-arrow current-card right-arrow next-picture";
    grid-template-rows: 100%;
    grid-template-columns: 25% 1fr 35% 1fr 25%;
  }
  #slider-grid-container .card {
    max-width: 100%;
    overflow: hidden;
  }
  #slider-grid-container .card img {
    max-height: 50vh;
    max-width: 100%;
    width: auto;
  }
  #slider-grid-container .card.prev-picture, #slider-grid-container .card.next-picture {
    display: block;
  }
  #slider-grid-container .card.prev-picture img, #slider-grid-container .card.next-picture img {
    max-height: 40vh;
  }
  #slider-grid-container .card.prev-picture h4, #slider-grid-container .card.prev-picture a, #slider-grid-container .card.next-picture h4, #slider-grid-container .card.next-picture a {
    display: none;
  }
  #slider-grid-container .card.prev-picture {
    grid-area: prev-picture;
    justify-self: right;
  }
  #slider-grid-container .card.next-picture {
    grid-area: next-picture;
    justify-self: left;
  }
  #slider-grid-container .card.current {
    justify-self: center;
  }
  #slider-grid-container .arrow-btn {
    font-size: 3em;
    margin: 10px;
  }
  #slider-grid-container .arrow-btn#prev {
    justify-self: right;
  }
  #slider-grid-container .arrow-btn#next {
    justify-self: left;
  }
  #card-position-range div {
    width: 1vw;
    height: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  #slider-grid-container .arrow-btn {
    font-size: 2em;
  }
  #card-position-range div {
    width: 1em;
    height: 1em;
  }
}/*# sourceMappingURL=index.css.map */