@import "colors.scss";

#game {
    display: grid;
    grid: 
    "title title"
    "player computer"
    "field field"
    "button button"
    / 1fr 1fr;
    justify-content: center;

    h1 {
        grid-area: title;
    }

    .tictactoe-container {
        grid-area: field;
        display: grid;
        grid-template: repeat(3, 95px) / repeat(3, 95px);
        grid-gap: 20px;
        justify-content: center;
    
        .field {
            border: 1px solid $font;
            border-radius: 50%;
            font-size: 60pt;
            text-align: center;
            background-size: cover;
            background-position: center;
        
            &.x {
                background-image: url("../images/velo-rad.jpg");
            }
        
            &.o {
                background-image: url("../images/velo-rad-voll.jpg");
            }
        }
    }

    .player {
        justify-self: center;

        &#firstPlayer {
            grid-area: player;
        }

        &#secondPlayer {
            grid-area: computer;
        }
    }

    
    #restart-button {
        color: $font;
        grid-area: button;
        display: none;
        width: fit-content;
        height: fit-content;
        justify-self: center;
        align-self: center;
        background-color: $shadow;
        border: 0;
        padding: 10px 24px;
        cursor: pointer;

        &:hover {
            background-color: rgba($font, .3);
        }
    }
    
    .card {
        grid-area: field;
        box-sizing: border-box;
        background-color: $shadow;
        min-width: 250px;
        line-height: 120%;
    
        font-size: 16pt;
        z-index: 2;
    
        justify-self: center;

        height: fit-content;
        padding: 20px;
    }
    
    .modal {
        display: none;
    }

    .rubik {
        padding-bottom: 7px;

        &.active-player {
            border-bottom: 2px solid $font;
            padding-bottom: 5px;
        }    
    }
}

@media screen and (min-width: 900px) {
    #game .tictactoe-container {
        grid-template: repeat(3, 120px) / repeat(3, 120px);
    }
}

@media screen and (min-width: 1200px) {
    #game {
        grid: 
        "title . ."
        "player field computer"
        ". button ."
        / 1fr auto 1fr;
    
    
        .tictactoe-container {
            grid-template: repeat(3, 150px) / repeat(3, 150px);
        }
    }
}